{{!-- /Users/sureshrajaselvadurai/IdeaProjects/MS_Coursework/CS386/Final/views/partials/footer.hbs --}}

<footer>
    <div class="sidebar-useful-links">
        <a>About</a>
        <a href="https://github.com/sureshselvadurai">Github</a>
        <a href="https://www.linkedin.com/in/sureshrajaselvadurai/">LinkedIn</a>
        <a id="currentDate"></a>
    </div>
</footer>

<div id="chat-box" class="cloud-animation hidden">
    <div id="cloud"><h2>Hi! </h2></div>
    <div id="conversation"></div>
    <input type="text" id="user-input" placeholder="Type your message.Please mention your contact/email...">
    <button id="buttonSend">Send</button>
</div>

</div>

</div>
</body>
</html>
